body{
  font-family: Arial, Helvetica,
    sans-serif;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1{
  color: #010101
}

h3{
  color: green;
}
h2 {
  color : #00ffee
}

.head{
  width: 100%;
  height: 70%;
  border-bottom: solid 2px;
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  border-bottom: solid 1px;
  box-shadow:0px 0px 2px 1px green;
  margin: 0;
  
}

.menubtn{
  width: 37px;
  height: 33px;
  background-color: none;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  margin-left: 0;
  border: none;
}

.menu-content {
  position: absolute;
  left: 0;
  top: 10px;
  display: none;
  border: solid 1px;
  padding: 10px;
  height: auto;
  width: 250px;
  margin-top: 30px;
  margin-left: 0;
  background-color: #ffff;
  
}
.menu-content a hr {
 width: inherit;

}

.menu-content a {
  display: block;
  padding: 10px 1px;
  color: black;
  text-decoration: none;
}
.menu-content a:hover {
  background-color: #058329f8;
}
.menubtn:hover .menu-content{
  display: block;
}


img {
  max-width: 90%;
  height: 250px;
  object-fit: cover;
  padding: 10px;
  margin-top: 50px;
  border: solid 0px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 2px hwb(120 12% 79%);
  opacity: 1;
  
}
img.Net1 {
  width: 90%;
  cursor : pointer;
}
img.Net2 {
  width: 90%;
  cursor : pointer;
}
img.Net3 {
  max-width: 90%;
  margin-bottom: 100px;
  cursor : pointer;
}


.date{
  color : black;
  align-items: center; 
  background-color: inherit;
  position : absolute;
  top : 0;
  left: 50px;
  margin-top: 0; 
}

.balhold {
  height: auto;
  max-width: 100%;
  border: 0px solid;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px 2px #514b4b;
  text-align: center;
  align-items: center;
  margin: 20px;
  padding: 8px;
  font-size: 20px;
  
}

p.bal {
  color: green;
  font-size: 22px;
  padding: 2px;
  margin: 10px;
}

i {
  border: 0px solid ;
  font-weight: 50px;
  color: white;
  cursor: pointer;
  
}